Source: rulex
Section: text
Priority: optional
Maintainer: Igor B. Poretsky <poretsky@mlbox.ru>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.3

Package: rulex
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: ru-tts
Conflicts: ru-tts (<< 2.0)
Description: Russian pronunciation dictionary
 This package is aimed primarily for use together with the Russian
 TTS engine Ru_tts. When it is installed you can instruct Ru_tts
 to use the pronunciation dictionary by the command line switch
 "-s /usr/share/rulex/lexicon.db".
