#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@

override_dh_auto_build-arch:
	$(MAKE) -s lexholder prefix=/usr libdir=/usr/lib/$(DEB_HOST_MULTIARCH)

override_dh_auto_build-indep:
	mkdir -p debian/locale
	localedef -f KOI8-R -i ru_RU debian/locale/ru_RU.koi8r
	$(MAKE) -s prefix=/usr LOCPATH=$(CURDIR)/debian/locale

override_dh_auto_test:
	$(MAKE) LOCPATH=$(CURDIR)/debian/locale test

override_dh_auto_clean:
	rm -rf debian/locale
	$(MAKE) -s clean

override_dh_auto_install:
	$(MAKE) -s install prefix=/usr libdir=/usr/lib/$(DEB_HOST_MULTIARCH) DESTDIR=$(CURDIR)/debian/tmp

override_dh_auto_install-arch:
	$(MAKE) -s install-lexholder prefix=/usr libdir=/usr/lib/$(DEB_HOST_MULTIARCH) DESTDIR=$(CURDIR)/debian/tmp
